{% extends 'base.html.twig' %}

{% block title %}Liste des salariés{% endblock %}

{% block contenu %}

    <table>
        <thead>
            <tr>
                <th>SALARIE</th>
                <th>ADRESSE</th>
                <th>CP</th>
                <th>VILLE</th>
                <th>DATE EMBAUCHE</th>
                <th>ENTREPRISE</th>
            </tr>
        </thead>
        <tbody>
            {% for salarie in salaries %}
                <tr>
                    <td><a href="{{ path('salarie_show', {'id':salarie.id}) }}" title="{{ salarie.prenom ~ ' ' ~ salarie.nom }}">{{ salarie.prenom ~ ' ' ~ salarie.nom }}</a></td>
                    <td>{{ salarie.adresse }}</td>
                    <td>{{ salarie.cp }}</td>
                    <td>{{ salarie.ville }}</td>
                    <td>{{ salarie.dateEmbauche | date('d/m/Y') }}</td>
                    <td>{{ salarie.entreprise.raisonSociale }}</td>
                    <td><a href="{{ path('salarie_edit', {'id': salarie.id}) }}" title="">Modifier</a></td>
                    <td><a href="{{ path('salarie_remove', {'id': salarie.id}) }}" title="">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
        <tfooter>
            <tr>
                <td><a href="{{ path('salarie_add') }}" title="">Ajouter un salarie</a></td>
            </tr>
        </tfooter>
    </table>
    {# Afficher la liste des noms avec lien cliquable pour aller vers leur page respective #}
    {# <ul>
    {% for salarie in salaries %}
        <li><a href="{{ path('salarie_show', {'id' : salarie.id}) }}">{{ salarie.prenom }} {{ salarie.nom }}</a></li>
    {% endfor %}
    </ul> #}
{% endblock %}
