{% extends 'base.html.twig' %}

{% block contenu %}

    <h1>{{ salarie.nom ~ ' ' ~ salarie.prenom }}</h1>
    <p>
        date d'embauche: {{ salarie.dateNaissance | date('d/m/Y') }}<br>
        adresse: {{ salarie.adresse }}<br>
        {{ salarie.cp ~ ' ' ~ salarie.ville }}<br>
        <br>
        Embauché le: {{ salarie.dateEmbauche | date('d/m/Y') }}<br>
        entreprise: {{ salarie.entreprise.raisonSociale }}
    </p>
{% endblock %}

{# {% block body %}
    {{ dump(salarie) }}
{% endblock %} #}