{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises!{% endblock %}

{% block contenu %}

    <table>
        <thead>
            <tr>
                <th>RAISON SOCIALE</th>
                <th>SIRET</th>
                <th>ADRESSE</th>
                <th>CP</th>
                <th>VILLE</th>
            </tr>
        </thead>
        <tbody>
            {% for entreprise in entreprises %}
                <tr>
                    <td><a href="{{ path('entreprise_show', {'id':entreprise.id}) }}" title="{{ entreprise.raisonSociale }}">{{ entreprise.raisonSociale }}</a></td>
                    <td>{{ entreprise.siret }}</td>
                    <td>{{ entreprise.adresse }}</td>
                    <td>{{ entreprise.cp }}</td>
                    <td>{{ entreprise.ville }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {# Afficher la liste des noms avec lien cliquable pour aller vers leur page respective #}
    {# <ul>
    {% for salarie in salaries %}
        <li><a href="{{ path('salarie_show', {'id' : salarie.id}) }}">{{ salarie.prenom }} {{ salarie.nom }}</a></li>
    {% endfor %}
    </ul> #}
{% endblock %}
